.dashboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    height:80vh;
    background-color: #FF8000;
  }
  
  .dashboard-container {
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
    width:200px;
    height:70px;
    margin-top: 40px;
    background-color: rgba(255, 165, 0, 0.5);
    text-align: center;

  }
  
  .dashboard-container h2 {
    margin: 0;
  }
  