* {
    margin: 0;
    padding: 0;
}

.menubar {
    display: flex;
    justify-content: space-between;
    padding: 10px 45px; 
    background-color: #3498db; 
    color: #ecf0f1; 
    border-bottom: 2px solid #2980b9; 
}

.left-menu {
    display: flex;
    align-items: center;
}

.menu-navbar {
    font-size: 2rem;
    margin-right: 20px;
    
}

.right-menu {
    display: flex;
    align-items: center;
}

.menubar-link {
    color: black; 
    text-decoration: none;
    margin-left: 20px;
}

.menubar-link:hover {
    text-decoration: underline;
    color: red; 
}